# Copyright 2026 NXP
# SPDX-License-Identifier: BSD-3-Clause

source "Kconfig.zephyr"

rsource "../../common/libs/sys_heap_stats/Kconfig"

rsource "Kconfig.multicore"

config APP_STORAGE
    bool "Enable storage support"
    default y

config APP_TSN_BRIDGE
    bool
    default y

config APP_FP
    bool
    default y

config APP_QBV
    bool
    default y
