/*
 * Copyright 2026 NXP
 *
 * SPDX-License-Identifier: BSD-3-Clause
 */

/* Disable peripherals handled outside the Zephyr device model */
/delete-node/ &netc;

&gpt1 {
	status = "disabled";
};

&flexspi {
	/* AHB RX buffer: <prefetch priority master_id buf_size> */
	rx-buffer-config = <1 0 8 32>;
};

/* Disable all gpio nodes: the stack uses its own RGPIO driver when needed. */
&gpio1 {
	status = "disabled";
};

&gpio2 {
	status = "disabled";
};

&gpio3 {
	status = "disabled";
};

&gpio4 {
	status = "disabled";
};

&gpio5 {
	status = "disabled";
};

&gpio6 {
	status = "disabled";
};

/* Make ocram1 as default RAM region */
/ {
	chosen {
		zephyr,sram  = &ocram1;
	};
};

/* Remove zephyr,memory-region causing MPU regions conflicts */
/delete-node/ &ocram1;

&memory {
	ocram1: memory@4000 {
		compatible = "mmio-sram";
		/* OCRAM1 first 16K access is blocked by TRDC */
		reg = <0x4000 DT_SIZE_K(496)>;
		#address-cells = <1>;
		#size-cells = <1>;
	};
};
