/*
 * Copyright 2026 NXP
 *
 * SPDX-License-Identifier: BSD-3-Clause
 */

/* Disable peripherals handled outside the Zephyr device model */
/delete-node/ &netc;

&gpt1 {
	status = "disabled";
};

&flexspi {
    /* AHB RX buffer: <prefetch priority master_id buf_size> */
    rx-buffer-config = <1 0 8 32>;
};